body {
  font-family: Arial;
  margin: 0;
  background: #eef2f3;
}

/* Navbar */
nav {
  background: #222;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

/* Center text */
.center {
  text-align: center;
  padding: 40px;
}
/* Cards for skills */
.card {
  border: 2px solid black;
  background-color: rgb(229, 249, 249);
  padding: 20px;
  margin: 10px;
}
/* Flexbox for skill cards */
.flex-box {
  display: flex;
  justify-content: center;
}
/* Contact form */
input, textarea {
  width: 90%;
  padding: 8px;
  margin: 5px;
}
button {
  padding: 8px 15px;
  background: black;
  color: white;
  border: none;
}
button:hover{
  background-color: blue;
}
#photo{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
